@media (prefers-color-scheme: light) {
  :root {
    --text: #0e0c0b;
    --background: #f8ede7;
    --sidebar: #b77c5c;
    --header: #dbad94;
    --accent: #d9895e;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: #f4f2f1;
    --background: #180d07;
    --sidebar: #a36848;
    --header: #6b3d24;
    --accent: #a15126;
  }
}


/* Josh Comeau's CSS reset*/
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }


body {
    color: var(--text);
    background-color: var(--background);
    font-family: sans-serif;
    
}

.grid-container {
    height: 100vh;
    display: grid;
    grid-template: 1fr 5fr / 1fr 5fr;
    grid-template-areas: "sidebar header"
                         "sidebar main";
}

.header {
    background-color: var(--header);
    grid-area: header;
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.sidebar {
    background-color: var(--sidebar);
    grid-area: sidebar;
}

.main {
    grid-area: main;
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.sub-controls, 
.searchbar, 
.account-controls,
.main-controls,
.user,
.share-controls,
.nav,
.nav div {
    display: flex;
}


.sub-controls {
    align-items: center;
    padding: 10px;
}

.searchbar {
    /* margin-right: auto; */
    margin-left: 25px;
    gap: 8px;
}

.account-controls{
    gap: 30px;
    margin-left: auto;
    margin-right: 15px;
}

.sub-controls img {
    width: 25px;

}

.main-controls {
  align-items: center;
  padding: 10px;
}

.user {
    gap: 10px;
    margin-left: 15px;
}

.user-greeting {
    height: max-content;
    align-self: center;
}

.share-controls {
    align-content: center;
    width: 300px;
    margin-left: auto;
    gap: 25px;
    margin-right: 15px;
}

.share-controls button {
    border: none;
    border-radius: 30px;
    padding: 10px;
    flex: 1;
}

.searchbar input {
    border: none;
    border-radius: 15px;
    width: 350px;
    flex: 1 1 auto;
    padding: 5px;
}

input:focus {
    outline: 2px grey solid;
}

.sidebar {
  display: grid;
  grid-template-rows: 1fr 5fr;
}

.logo {
  grid-template-rows: 1;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 900;
  gap: 15px;
  padding: 20px;
  padding-bottom: 60px;
}

.nav {
  flex-direction: column;
  padding: 25px;
  gap: 10px;
}

.nav div {
  gap: 15px;
  font-size: 20px;
  font-weight: 700;
}

.communities {
  margin-bottom: 40px;
}


.nav img {
  width: 30px;
}

.main {
  display: grid;
  grid-template: 1fr 1fr / 3fr 1fr;
  grid-template-areas: 
    "posts announcements"
    "posts trending";
  padding: 25px;
  gap: 15px;

}

.posts {
  grid-area: posts;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 10px;
}

.cards {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: 200px;
}

.card {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  gap: 15px;
  padding: 25px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 1);
}

.card-title:hover,
.card-controls img:hover {
  cursor: pointer;
}

.card-title {
  font-size: 20px;
  font-weight: 700;
}

.card-content, .sidecard div{
  color: rgb(94, 93, 93);
}

.card-controls {
  flex: 1;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  align-items: flex-end;
}

.card img {
  width: 25px;
}

.announecments, 
.trending {
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 0 40px;
  margin-bottom: 25px;
  height: fit-content;
}

.announecments {
  grid-area: announcements;
}

.trending {
  grid-area: trending;
}

.sidecards, .grid-sidecards {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 15px;
  height: fit-content;
}

.sidecards {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 15px;
  flex: 0 1 auto;
}

.sidecards p,
.grid-sidecards p {
  font-size: 14px;
  font-weight: 700;
}

.sidecard p:hover,
.grid-sidecards p:hover {
  cursor: pointer;
}


.sidecard,
.grid-sidecard {
  border-bottom: 1px rgb(0, 0, 0, 0.3) solid;
  padding: 0px 10px 10px;
  font-size: 12px;
}

.lastcard {
  border-bottom: none;
}

.grid-sidecards {
  display: grid;
  grid-template: repeat(4, min-content) / 1fr 3fr;
  row-gap: 15px;
}

.grid-sidecards img {
  width: 40px;
}

.grid-sidecard {
  padding: 0px 5px 10px;
}

button:hover, 
img:hover,
.sidebar div div:hover {
  cursor: pointer;
}