/* Josh Comeau's CSS reset*/
/* 1. Use a more-intuitive box-sizing model */
@media (prefers-color-scheme: light) {
    :root {
      --text: #141c24;
      --background: #e0d6d6;
      --primary: #60333e;
      --header: #762a2a;
      --sidebar: #570f0f;
    }
  }
@media (prefers-color-scheme: dark) {
    :root {
      --text: #dbe3eb;
      --background: #291f1f;
      --primary: #cc9eaa;
      --header: #d68a8a;
      --sidebar: #f0a8a8;
    }
  }
  

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }


body {
    color: var(--text);
    background-color: var(--background);
    font-family: sans-serif;
    
}

.grid-container {
    display: grid;
    grid-template: 1fr 5fr / 1fr 3fr;
    grid-template-areas: "sidebar header"
                         "sidebar main";
}

.header {
    background-color: var(--header);
    grid-area: header;
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.sidebar {
    background-color: var(--sidebar);
    grid-area: sidebar;
}

.main {
    grid-area: main;
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.sub-controls, 
.searchbar, 
.account-controls,
.main-controls,
.user,
.share-controls {
    display: flex;
}

.sub-controls {
    align-items: center;
    padding: 15px;
}

.searchbar {
    /* margin-right: auto; */
    margin-left: 25px;
    gap: 8px;
}

.account-controls{
    gap: 30px;
    margin-left: auto;
    margin-right: 15px;
}

.sub-controls img {
    width: 25px;

}

.main-controls {
    align-items: center;
    padding: 15px;
}

.user {
    gap: 10px;
    margin-left: 15px;
}

.user-greeting {
    height: max-content;
    align-self: center;
}

.share-controls {
    align-content: center;
    width: 300px;
    margin-left: auto;
    gap: 25px;
    margin-right: 15px;
}

.share-controls button {
    border: none;
    border-radius: 30px;
    padding: 10px;
    flex: 1;
}

.searchbar input {
    border: none;
    border-radius: 15px;
    width: 350px;
    flex: 1 1 auto;
    padding: 5px;
}

input:focus {
    outline: 2px grey solid;
}